/*
Theme Name: RetroSpace
Theme URI: http://timarmensink.nl/retrospace/
Author: Timar
Author URI: http://timarmensink.nl/
Description: A Retro theme
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: retrospace
*/

* {
    font-family: monospace;
}

article.post {
    border: 1px dashed black;
    margin: 1em auto 3em;
    padding: 1em 0;
    max-width: 1140px;
}

article.post img {
    max-width: 100%;
    height: auto;
}

article.post .meta {
    border-right: 1px dashed black;
    margin-top: -1em;
    margin-bottom: -1em;
    padding-top: 1em;
    padding-bottom: 1em;
}
article.post .meta > *:not(.post-title) {
    font-style: italic;
}

article.post .post-title {
    white-space: nowrap;
    word-wrap: normal;
    margin-bottom: 0;
    padding-bottom: .5em;
    line-height: calc(1em - 5px);
}

article.post .wide:empty + .meta .post-title {
    border-bottom: 1px dashed black;
    margin-bottom: .25em;

    margin-left: -.5em;
    margin-right: -.5em;
    padding-left: .5em;
    padding-right: .5em;
}

article.post .wide:empty {
    margin-bottom: -1px;
}
article.post .wide:not(:empty) {
    text-align: center;
    border-bottom: 1px dashed black;
    margin-bottom: 1em;
}
